infra/aws/stepfunctions/state_machine.asl.json
{
  "Comment": "Rare-Link AI diagnosis pipeline (Phase 1-5). FastAPI startExecution with {session_id, patient_fhir_id, symptom_text, cxr_s3_key, started_at}. 각 Lambda 는 phase_execution_log 통합 로깅.",
  "StartAt": "ParallelPhase1And2",
  "TimeoutSeconds": 1800,
  "States": {
    "ParallelPhase1And2": {
      "Type": "Parallel",
      "Comment": "Phase 1 (HPO 추출) + Phase 2 (X-ray) 병렬",
      "Branches": [
        {
          "StartAt": "Phase1",
          "States": {
            "Phase1": {
              "Type": "Pass",
              "Comment": "Phase 1 Lambda 미배포 — 일단 Pass. 추후 Lambda 만들면 Task 교체.",
              "Result": {"phase": "phase1", "status": "skipped_no_lambda"},
              "End": true
            }
          }
        },
        {
          "StartAt": "Phase2",
          "States": {
            "Phase2": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "say2-2team-phase2-vision",
                "Payload": {
                  "session_id.$": "$.session_id",
                  "patient_id.$": "$.patient_fhir_id"
                }
              },
              "Retry": [
                {"ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException", "Lambda.SdkClientException", "Lambda.TooManyRequestsException"], "IntervalSeconds": 2, "MaxAttempts": 3, "BackoffRate": 2.0}
              ],
              "Catch": [
                {"ErrorEquals": ["States.ALL"], "Next": "Phase2Failed", "ResultPath": "$.error"}
              ],
              "ResultPath": "$.phase2_result",
              "End": true
            },
            "Phase2Failed": {
              "Type": "Pass",
              "Result": {"phase": "phase2", "status": "failed_continue"},
              "End": true
            }
          }
        }
      ],
      "ResultPath": "$.phase1_2",
      "Next": "Phase3"
    },
    "Phase3": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "phase3-scorer-dev",
        "Payload": {
          "session_id.$": "$.session_id",
          "patient_id.$": "$.patient_fhir_id"
        }
      },
      "Retry": [
        {"ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException", "Lambda.SdkClientException", "Lambda.TooManyRequestsException"], "IntervalSeconds": 2, "MaxAttempts": 3, "BackoffRate": 2.0}
      ],
      "Catch": [
        {"ErrorEquals": ["States.ALL"], "Next": "Phase3FailedSkip", "ResultPath": "$.error"}
      ],
      "ResultSelector": {
        "body.$": "States.StringToJson($.Payload.body)"
      },
      "ResultPath": "$.phase3_result",
      "Next": "ParallelPhase4AndPhase5"
    },
    "Phase3FailedSkip": {
      "Type": "Pass",
      "ResultPath": "$.phase3_skip",
      "Result": {"phase": "phase3", "status": "failed_skip_to_rag"},
      "Next": "RAG"
    },
    "ParallelPhase4AndPhase5": {
      "Type": "Parallel",
      "Comment": "Phase 4 (LLM verify) + Phase 5 (LR scoring) 병렬 — Phase 3 끝난 후",
      "Branches": [
        {
          "StartAt": "Phase4",
          "States": {
            "Phase4": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "phase4-verifier-dev",
                "Payload": {
                  "session_id.$": "$.session_id",
                  "patient_id.$": "$.patient_fhir_id",
                  "mode": "mock",
                  "phase3_ranking.$": "$.phase3_result.body.results"
                }
              },
              "Retry": [
                {"ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException"], "IntervalSeconds": 2, "MaxAttempts": 3, "BackoffRate": 2.0}
              ],
              "Catch": [
                {"ErrorEquals": ["States.ALL"], "Next": "Phase4Failed", "ResultPath": "$.error"}
              ],
              "End": true
            },
            "Phase4Failed": {
              "Type": "Pass",
              "Result": {"phase": "phase4", "status": "failed_continue"},
              "End": true
            }
          }
        },
        {
          "StartAt": "Phase5",
          "States": {
            "Phase5": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "phase5-lr-dev",
                "Payload": {
                  "session_id.$": "$.session_id",
                  "patient_id.$": "$.patient_fhir_id"
                }
              },
              "Retry": [
                {"ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException"], "IntervalSeconds": 2, "MaxAttempts": 3, "BackoffRate": 2.0}
              ],
              "Catch": [
                {"ErrorEquals": ["States.ALL"], "Next": "Phase5Failed", "ResultPath": "$.error"}
              ],
              "End": true
            },
            "Phase5Failed": {
              "Type": "Pass",
              "Result": {"phase": "phase5-lr", "status": "failed_continue"},
              "End": true
            }
          }
        }
      ],
      "ResultPath": "$.phase4_5",
      "Next": "RAG"
    },
    "RAG": {
      "Type": "Task",
      "Comment": "RAG (Phase 5 와 별도) — 최종 진단 보고서 생성. session_id 만으로 DB 에서 Phase 1-5 결과 종합.",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "phase5-rag-dev",
        "Payload": {
          "session_id.$": "$.session_id"
        }
      },
      "Retry": [
        {"ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException"], "IntervalSeconds": 5, "MaxAttempts": 2, "BackoffRate": 2.0}
      ],
      "Catch": [
        {"ErrorEquals": ["States.ALL"], "Next": "RAGFailed", "ResultPath": "$.error"}
      ],
      "End": true
    },
    "RAGFailed": {
      "Type": "Fail",
      "Cause": "RAG (Phase 5) failed — check phase_execution_log",
      "Error": "RAGError"
    }
  }
}
